body {
    font-family: 'Roboto', sans-serif;
    background: grey;
}

h1, h2, h3, h4, h5 {
    font-family: 'Josefin Slab', serif;
}

#homelink {
    background-image: url(/static/img/pfadi_logo.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100px;
    background-position: 0px -20px;
    color: #333;
    display: block;
    width: 164px;
    height: 165px;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    left: 20%;
}
#select_lang {
    background: url(/static/img/lang_select.png) no-repeat;
    position: absolute;
    top: 0;
    left: 70%;
    width: 47px;
    height: 32px;
}
#select_lang ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 3px;
}
#select_lang ul li {
    display: inline;
    font-size: 10px;
    padding: 0 2px;
}
#select_lang ul li a {
    text-decoration: none;
    color: black;
}
#select_lang ul li:first-child::before {
    display: none;
}

#scouts-infos {
/*
    background: url(/static/img/ecke_fr.png) no-repeat;
*/
    position: absolute;
    top: 0;
    right: 0;
    width: 97px;
    height: 98px;
    margin: 0;
    padding: 0;
}

#content {
    margin-top: 170px;
}

h1 {
    display: block;
    text-align: center;
}
