@fontsans: 'Roboto', sans-serif;
@fontserif: 'Josefin Slab', serif;

@bannerimg: '/static/img/nomad.jpg';
@banneroffset: -60px;
@scoutscornerwidth: 97px;

@linkhovercolor: rgb(106, 76, 48);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: @fontsans;
}

h1, h2, h3, h4, h5 {
    font-family: @fontserif;
}

a {
    color: inherit;
    text-decoration: underline;
    &:hover {
        color: @linkhovercolor;
    }
}

/* Barre de menus */
.pure-menu {
    background: transparent url(@bannerimg) 0 @banneroffset no-repeat fixed !important;
    background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@bannerimg', sizingMethod='scale');
    background-position: 0px @banneroffset;

    ul.right {
        float: right;
        margin-right: @scoutscornerwidth;
    }
    li {
        ul {
            border: 0!important;
            order-top: 1px solid #ddd!important;
            border-left: 1px solid #eee!important;
            box-shadow: 1px 2px 3px rgba(0,0,0,.3)!important;
        }
        a {
            padding: 13px 20px!important;
            color: #373737;
            text-shadow: 0 1px 1px #fff;
        }
        li {
            a {
                padding: 6px 20px!important;
            }
        }
    }
    .pure-menu-children {
        a {
            padding: 4px 20px!important;
            font-size: 14px;
        }
        .pure-menu-separator {
            margin: 0 2px!important;
        }
        li {
            border-bottom: 0!important;
        }
    }
}

#absolute-header {
    position: relative;
    #homelink {
        background-image: url(/static/img/pfadi_logo.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 100px;
        background-position: 0px @banneroffset;
        color: #333;
        display: block;
        width: 164px;
        height: 165px;
        text-indent: -9999px;
        position: absolute;
        top: 0;
        left: 10%;
    }

    #select_lang {
        background: url(/static/img/lang_select.png) no-repeat center;
        position: absolute;
        top: 0;
        left: 65%;
        height: 32px;

        ul {
            list-style: none outside none;
            margin: 0;
            padding: 0 3px;

            li {
                display: inline;
                font-size: 10px;
                padding: 0 2px;
                form {
                    display: inline;

                    .lang_toggle_submit {
                        text-decoration: none;
                        color: black;
                        background: none !important;
                        cursor: pointer;
                        border: 0;
                        padding: 0 !important;
                        font-family: @fontserif;
                        color: #333;
                    }
                }
            }
        }
    }

    #scouts-infos {
        position: absolute;
        top: 0;
        right: 0;
        width: @scoutscornerwidth;
        height: 98px;
        margin: 0;
        padding: 0;
    }
}

.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

.banner {
    background: transparent url(@bannerimg) 0 @banneroffset no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@bannerimg', sizingMethod='scale');

    height: 320px;
    width: 100%;
    margin-bottom: 2em;
    display: table;

    h1 {
        margin-top: 180px;
        font-size: 3em;
    }

    h2 {
        font-size: 1.6em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .banner-head {
        margin-bottom: 0;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }
}

.information-head {
    color: black;
    font-weight: 500;
}

footer {
    background: #111;
    color: #888;
    bottom: 0;
    padding: 0;
    text-align: center;

    > div {
        margin-bottom: 20px;
    }

    div#contact {
        font-weight: bold;
    }

    div#partenaires img {
        height: 80px;
    }

    a {
        color: #ddd;
    }

}

.main-content {
    padding: 0 10% 4em 10%;
}

.fullmap {
    #absolute-header #homelink {
        display: none;
    }
    .main-content {
        padding-left: 1%;
        padding-right: 1%;
    }
}

div#map {
    height: 600px;
    width: 100%;
}

.socialaccount-avatar {
    height: 40px;
    vertical-align: middle
}

div.message,
div#add-message {
    padding: 20px 0;
}

div.message {
    border-bottom: 1px solid black;

    div.message_infos {
        font-weight: bold;

        img.socialaccount-avatar {
            float: left;
            margin-right: 10px;
        }

        span.datetime {
            font-size: 0.9em;
        }
    }

    &:first-child {
        padding-top: 0;
    }
}

div#messages-content {
    display: none;
}

div#form_container {
    display: none;
}

div#form_container,
div#add-message {
    form {
        textarea, input, select {
            width: 100%;
        }
        textarea {
            resize: vertical;
            min-height: 10em;
        }
    }
}

ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        color: red;
        background-color: rgba(255, 0, 0, 0.4);
        border: 1px solid rgba(255, 0, 0, 0.6);
        border-radius: 4px;
        padding: 8px;
    }
}
