{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block leftbox %}
    <h3 class="information-head">{% user_display user %}</h3>
    <table>
        <tbody>
          <tr>
              <th>{% trans "Username" %}</th>
              <td>{{ user.username }}</td>
          </tr>
          <tr>
              <th>{% trans "Email" %}</th>
              <td>{{ user.email }}</td>
          </tr>
          <tr>
              <th>{% trans "Avatar" %}</th>
              <td><img src="{{ user.profile.profile_image_url }}" /></td>
          </tr>
          {% get_social_accounts user as socaccounts %}
          {% if socaccounts %}
              <tr>
                  <th>{% trans "Social accounts" %}</th>
                  <td>
                      <ul>
                          {% for s in socaccounts.github %}
                              <li>GitHub: <a href="https://github.com/{{ s }}">{{ s }}</a></li>
                          {% endfor %}
                          {% for s in socaccounts.twitter %}
                              <li>Twitter: <a href="https://twitter.com/{{ s }}">{{ s }}</a></li>
                          {% endfor %}
                          {% for s in socaccounts.facebook %}
                            <li>Facebook: <a href="https://facebook.com/{{ s }}">{{ s }}</a></li>
                          {% endfor %}
                      </ul>
                  </td>
              </tr>
          {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block rightbox %}
{% endblock %}