{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block leftbox %}
    <h3 class="information-head">{% user_display user %}</h3>
    <table>
        <tbody>
          <tr>
              <th>{% trans "Fullname" %}</th>
              <td>{{ user.get_full_name }}</td>
          </tr>
          <tr>
              <th>{% trans "Email" %}</th>
              <td><a href="mailto: {{user.email}}">{{ user.email }}</a></td>
          </tr>
          <tr>
              <th>{% trans "Avatar" %}</th>
              <td><img src="{{ user.profile.profile_image_url }}" /></td>
          </tr>
          {% if socaccounts %}
              <tr>
                  <th colspan="2">{% trans "Social accounts" %}</th>
              </tr>
              {% for s in socaccounts %}
                <tr>
                  <td>{{ s.provider|title }}</td>
                  <td><img src="{{ s.get_avatar_url }}" class="socialaccount-avatar" /> <a href="{{ s.get_profile_url }}">{{ s.get_provider_account }}</a></td>
                </tr>
              {% endfor %}
          {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block rightbox %}
<form class="pure-form pure-form-aligned" action="" method="post">
    {% csrf_token %}
    {{ profileform.as_divs }}
    <div class="pure-controls">
        <input class="button form-goal-submit" type="submit" value="{% trans "Edit" %}" />
    </div>
</form>
{% endblock %}