{% extends "base.html" %}
{% load i18n %}
{% load td_filters %}

{% block stylesheets %}
{{ block.super }}
            <link rel="stylesheet" href="{{ "//openlayers.org/en/"|resource_remotelocal:"openlayers/" }}v3.1.1/css/ol.css" type="text/css">
            <style>
              .map {
                height: 600px;
                width: 100%;
              }
            </style>
{% endblock %}

{% block remote_scripts %}
{{ block.super }}
<script src="{{ "//openlayers.org/en/"|resource_remotelocal:"openlayers/" }}v3.1.1/build/ol.js" type="text/javascript"></script>
{% endblock %}
{% block local_scripts %}

<script type="text/javascript">
    var iconStyle = new ol.style.Style({
        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
            anchor: [0.5, 46],
            anchorXUnits: 'fraction',
            anchorYUnits: 'pixels',
            opacity: 0.75,
            src: 'http://openlayers.org/en/v3.1.1/examples/data/icon.png'
        }))
    });

    var iconFeatures = [];

    function addIcon(message) {
        var iconFeature = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.transform([message.x, message.y], 'EPSG:4326', 'EPSG:900913')),
            content: message.id
        });
        iconFeature.setStyle(iconStyle);
        iconFeatures.push(iconFeature);
    }

    var messagesLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: iconFeatures
        })
    });

    $.ajax({
        url: "{% url 'points' event_codename=event.codename %}",
        async: false
    }).done(function(result) {
        if (result)
            $.each(result.data, function(item, value) {
                addIcon(value);
            });
    });

    /**
     * Elements that make up the popup.
     */
    var container = document.getElementById('popup');
    var content = document.getElementById('popup-content');

    /**
     * Create an overlay to anchor the popup to the map.
     */
    var popupOverlay = new ol.Overlay({
        element: container,
        positioning: 'bottom-center',
        stopEvent: false
    });

    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            }),
            messagesLayer
        ],
        overlays: [popupOverlay],
        view: new ol.View({
            center: ol.proj.transform([8.22669, 46.80121], 'EPSG:4326', 'EPSG:900913'),
            zoom: 8,
            minZoom: 8,
            maxZoom: 17
        })
    });

    // display popup on click
    map.on('click', function(evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel,
            function(feature, layer) {
                return feature;
            });
        if (feature) {
            var geometry = feature.getGeometry();
            var coord = geometry.getCoordinates();
            popupOverlay.setPosition(coord);
            content.innerHTML = feature.get('content');
            container.style.display = 'block';
        } else {
            container.style.display = 'none';
        }
    });

</script>
{% endblock %}

{% block bodyclass %}{{ block.super }} fullmap{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<h1>{{ event.name }}</h1>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-4-5">
        <div id="map" class="map">
            <div id="popup" class="ol-popup" style="position: absolute; bottom: 60px; width: 100px; left: -50px; background: white;">
                <div id="popup-content"></div>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-5">
        <div class="l-box">
            <h3>{{ event.name }}</h3>
            <h3 class="information-head">{% trans "Leave a message" %}</h3>
        </div>
    </div>
</div>
{% endblock %}
