<!DOCTYPE html>
    {% load i18n %}
    {% load compress %}
    {% load staticfiles %}
    <!--[if IE]><![endif]-->
    <!--[if lt IE 7 ]> <html lang="{{ app.request.locale }}" class="ie6">    <![endif]-->
    <!--[if IE 7 ]>    <html lang="{{ app.request.locale }}" class="ie7">    <![endif]-->
    <!--[if IE 8 ]>    <html lang="{{ app.request.locale }}" class="ie8">    <![endif]-->
    <!--[if IE 9 ]>    <html lang="{{ app.request.locale }}" class="ie9">    <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><html lang="{{ app.request.locale }}"><!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        {% block stylesheets %}
            {# Titles #}
            <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css' />
            {# Body #}
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
            {# Pure CSS #}
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" />
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css" />
            {% compress css %}
            <link href="{% static "style/base.less" %}" type="text/less" rel="stylesheet" />
            {% endcompress %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% spaceless %}{% block pagetitle %}{% trans "ThinkingDay.ch" %}{% endblock %}{% endspaceless %}</title>
    </head>

    <body class="{% spaceless %}{% block bodyclass %}{% endblock %}{% endspaceless %}">

    <header>
        {% include "header.html" %}
    </header>

    {% block banner %}
        <div class="banner">
            <h1 class="banner-head">
                {% trans "ThinkingDay.ch" %}
            </h1>
            <h2 class="banner-head">
                {% trans "ThinkingDay.ch is a platform to allow scouts from Switzerland to gather together online and honour the World Thinking Day, each year on the 22nd of February." %}
            </h2>
        </div>
    {% endblock %}

    <div class="l-content">
        <div class="information pure-g">
            <div class="pure-u-1 pure-u-md-1-2">
                <div class="l-box">
                    {% block leftbox %}
                    {% endblock %}
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-2">
                <div class="l-box">
                    {% block rightbox %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="l-content">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

    <footer class="l-box">
        {% include "footer.html" %}
    </footer>

    {% block footer_scripts %}
        {% include "javascript_libraries.html" %}
    {% endblock %}

    </body>
</html>
