<!DOCTYPE html>
    {% load i18n %}
    {% load compress %}
    {% load staticfiles %}
    <!--[if IE]><![endif]-->
    <!--[if lt IE 7 ]> <html lang="{{ app.request.locale }}" class="ie6">    <![endif]-->
    <!--[if IE 7 ]>    <html lang="{{ app.request.locale }}" class="ie7">    <![endif]-->
    <!--[if IE 8 ]>    <html lang="{{ app.request.locale }}" class="ie8">    <![endif]-->
    <!--[if IE 9 ]>    <html lang="{{ app.request.locale }}" class="ie9">    <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><html lang="{{ app.request.locale }}"><!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        {% block stylesheets %}
            {# Titles #}
            <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
            {# Body #}
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" />
            {% compress css %}
            <link href="{% static "style/base.less" %}" type="text/less" rel="stylesheet" />
            {% endcompress %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% spaceless %}{% block pagetitle %}{% trans "ThinkingDay.ch" %}{% endblock %}{% endspaceless %}</title>
    </head>

    <body class="{% spaceless %}{% block bodyclass %}{% endblock %}{% endspaceless %}">

    <header>
        {% include "header.html" %}
    </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer_scripts %}
        {% include "javascript_libraries.html" %}
    {% endblock %}

    <footer>
        <div id="contact" class="pure-g">
            <div class="pure-u-1-3">
                <img src="{%static 'img/PFADI_LP_Footer_Telefon.png' %}" alt="telefon">
                <p>+41 31 328 05 45</p>
            </div>
            <div class="pure-u-1-3">
                <a href="mailto:info@pfadi.ch"><img src="{%static 'img/PFADI_LP_Footer_Mail.png' %}" alt="mail"></a>
                <p>info@scouts.ch</p>
            </div>
            <div class="pure-u-1-3">
                <a href="https://www.facebook.com/pfadibewegung.ch?fref=ts"><img src="{%static 'img/PFADI_LP_Footer_facebook.png' %}" alt="facebook"></a>
                <p>{% trans "Scouts on Facebook" %}</p>
            </div>
        </div>
        <div>
            <p>Nos partenaires :</p>
            <div id="partenaires" class="pure-g">
                <div class="pure-u-1-5">
                    <a href="http://www.pbs.ch"><img src="{%static 'img/pfadi.png' %}" alt="pfadi"></a>
                </div>
                <div class="pure-u-1-5">
                    <a href="http://www.hajk.ch"><img src="{%static 'img/hajk.png' %}" alt="hajk"></a>
                </div>
                <div class="pure-u-1-5">
                    <a href="http://www.prolinguis.ch"><img src="{%static 'img/pro_linguis.png' %}" alt="pro linguis"></a>
                </div>
                <div class="pure-u-1-5">
                    <a href="http://www.fotopickexpress.ch"><img src="{%static 'img/foto_pick.png' %}" alt="pro linguis"></a>
                </div>
                <div class="pure-u-1-5">
                    <a href="http://www.mobi.ch"><img src="{%static 'img/mobiliar.png' %}" alt="mobiliar"></a>
                </div>
            </div>
        </div>
    </footer>

    </body>
</html>
