{% load i18n %}
{% load setlang %}
{% if user.is_authenticated %}
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li {% if current_page == 'home'%}class="pure-menu-selected"{% endif %}><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
            {% endif %}
        </ul>
        <ul class="right">
            <li class="pure-dropdown right">
                <a href="{% url 'user_profile' %}">{% trans "Profile" %}</a>
                <ul class="pure-menu-children">
                    <li><a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endif %}
<div id="absolute-header">
    <div>
        <a id="homelink" href="{% url 'home' %}" title="{% trans "Homepage" %}">{% trans "Swiss scouts" %}</a>
    </div>
    <div id="select_lang">
        <ul>
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <li><form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request|setlang:language.code }}" />
                    <input name="language" type="hidden" value="{{ language.code }}" />
                    <button type="submit" class="lang_toggle_submit" title="{{ language.name_local|title }}">{{ language.name_local|first|upper }} </button>
                </form></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a id="scouts-infos" href="{% trans "http://www.scout.ch" %}"><img src="{{ STATIC_URL }}img/{% trans "ecke_de.png" %}"></a>
    </div>
</div>